{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/create_virus.js' %}"></script>
<a href="{% url 'index' %}">Back to index Page</a>
<h1>Create New Virus Record</h1>
<form id="createVirusForm" action="">
    <label for="name">Virus Name: </label><input type="text" id="name" name="name"><br>
    <label for="commonName">Common Name: </label><input type="text" id="commonName" name="commonName"><br>
    <label for="maxInfectiousPeriod">Max Infectious Period: </label><input type="number" id="maxInfectiousPeriod" name="maxInfectiousPeriod"><br>
    <input type="button" id="createButton" value="Create Virus Record">
    <!-- <input type="button" value="Reset" onclick="resetForm()"> -->
</form>
<p id="createStatus"></p>